<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Token" value="drYizPbFSO8ETixG22jYYhlcS3g46qXN"/>
    <add key="CorpID" value="wx4b20a8b87f53d92b"/>
    <add key="EncodingAESKey" value="G0NStpitlAPwiDXE8XRcNZHObXbTCcDLqpLZBgy0SVi"/>
    <add key="Secret" value="04KNNbH4YFuBrtqVy6K7OSgFTKzEFhrZUpanLZjU1GRxQcBDEMELaghk_iCX0V87"/>
    <add key="AppID" value="28"/>
    <!--语言（MP需要设置） 0：简体中文、1：繁体中文、2：英文-->
    <add key="Language" value="0"/>  
    <!--应用套件配置信息-->
    <add key="SuiteToken" value="KyszdPo70aoOarvGxc"/>    
    <add key="SuiteEncodingAESKey" value="we4ziQDtFQdNIb3LRK7BbWrrIBqyJm68L4ds4HsLMpO"/>
    <add key="SuiteID" value="wxd108e1a8668594b5"/>
  </appSettings>
</configuration>